section.section.service-laser-service-list
    .container
        .row
            .col-sm-12.col-md-8.d-flex.justify-content-center.flex-column.align-items-center.left
                .radio-container.d-flex.justify-content-around.align-items-center.mt-6
                    input(
                        type='radio'
                        name='sex'
                        value='male'
                    )
                    input(
                        type='radio'
                        name='sex'
                        value='famale'
                    )
                .service-list-group.mt-4.d-flex.flex-column.justify-content-center.align-items-center
                    h2.section-title.text-color-dark Область Лица
                    .checkbox-group.d-flex.flex-column.align-items-center
                        



            .col-sm-12.col-md-4.right
