section.section.service-laser-interests.py-5
  .container
    .headline.px-6.text-center.mt-5
      h1.h2-title.text-color-dark.text-center Вас также может заинтересовать
    .container.container-m.slider-wrap
      .row.no-gutters
        .h1-title.h-center.mb-50.white-text Дипломы и сертификаты
      .row.no-gutters
        .diploma-slider.owl-carousel.slider-block
          - let arrInterests = [{name:"SPA массажи", img:"interests1",hover:""},{name:"Чистка лица",img:"interests2",hover:"interests2hover"},{name:"Карбокси косметология",img:"interests3",hover:""},{name:"SPA пиллинги",img:"interests4",hover:"interests4hover"},{name:"SPA массажи", img:"interests1",hover:""},{name:"Чистка лица",img:"interests2",hover:"interests2hover"},{name:"Карбокси косметология",img:"interests3",hover:""},{name:"SPA пиллинги",img:"interests4",hover:"interests4hover"},{name:"SPA массажи", img:"interests1",hover:""},{name:"Чистка лица",img:"interests2",hover:"interests2hover"},{name:"Карбокси косметология",img:"interests3",hover:""},{name:"SPA пиллинги",img:"interests4",hover:"interests4hover"},{name:"SPA массажи", img:"interests1",hover:""},{name:"Чистка лица",img:"interests2",hover:"interests2hover"},{name:"Карбокси косметология",img:"interests3",hover:""},{name:"SPA пиллинги",img:"interests4",hover:"interests4hover"}];
            each element in arrInterests
              - let interestsPath = "./assets/img/service-laser-page/" + element.img + ".png"
              if element.hover
                - let hoverImagepath = "./assets/img/service-laser-page/" + element.hover + ".png"
                a.diploma-item(href=interestsPath, data-fancybox="" )
                  img.main-image.w-100(src=interestsPath, alt="interests-image")
                  img.hover-image.w-100(src=hoverImagepath, alt="interests-image")
                  .slider-item-footer.d-flex.flex-column.align-items-center.justify-content-center
                    p.paragraph-text.text-color-dark.mb-0 #{element.name}
              else
              a.diploma-item(href=interestsPath, data-fancybox="" )
                img.w-100(src=interestsPath, alt="interests-image")
                .slider-item-footer.d-flex.flex-column.align-items-center.justify-content-center
                  p.paragraph-text.text-color-dark.mb-0 #{element.name}
