mixin numberedSection(title1, text1, title2, text2, title3, text3, title4, text4)
  .numbered-section
    .col-sm-12.col-lg-6
      img(src="assets/icon/common/adv-1.png" srcset="assets/icon/common/adv-1@2x.png")
      .description
        h3.title= title1
        p.desc= text1
    .col-sm-12.col-lg-6
      img(src="assets/icon/common/adv-2.png" srcset="assets/icon/common/adv-2@2x.png")
      .description
        h3.title= title2
        p.desc= text2
    .col-sm-12.col-lg-6
      img(src="assets/icon/common/adv-3.png" srcset="assets/icon/common/adv-3@2x.png")
      .description
        h3.title= title3
        p.desc= text3
    .col-sm-12.col-lg-6
      img(src="assets/icon/common/adv-4.png" srcset="assets/icon/common/adv-4@2x.png")
      .description
        h3.title= title4
        p.desc= text4
