mixin casetSvg
  svg(width='16', height='16', viewbox='0 0 16 16', fill="#fff"  xmlns='http://www.w3.org/2000/svg')
    path(d='M15.5753 5.49047L10.5088 0.424094C10.2353 0.150625 9.87063 0 9.48181 0C9.09303 0 8.72828 0.150563 8.45478 0.424031L0.424094 8.45475C0.150625 8.72825 0 9.09294 0 9.48175C0 9.87057 0.150625 10.2353 0.424094 10.5088L1.04884 11.1335C1.04891 11.1335 1.04894 11.1336 1.049 11.1337C1.04906 11.1337 1.04913 11.1338 1.04919 11.1338L5.24794 15.3326H4.66656C4.4825 15.3326 4.33325 15.4818 4.33325 15.6659C4.33325 15.85 4.4825 15.9992 4.66656 15.9992H6.51622C6.51666 15.9992 6.51706 15.9993 6.5175 15.9993C6.51794 15.9993 6.51834 15.9992 6.51878 15.9992L11.3329 15.9993C11.517 15.9993 11.6663 15.85 11.6663 15.666C11.6663 15.4819 11.517 15.3327 11.3329 15.3327L7.78719 15.3326L15.5753 7.54447C16.1416 6.97816 16.1416 6.05672 15.5753 5.49047ZM15.1039 7.0731L7.07316 15.1038C6.92588 15.2511 6.729 15.3323 6.51872 15.3326H6.51619C6.30597 15.3323 6.10916 15.2511 5.96194 15.1038L1.75609 10.898L9.46844 3.18556C9.5986 3.05541 9.5986 2.84434 9.46844 2.71419C9.33825 2.58403 9.12725 2.58403 8.99703 2.71422L1.28469 10.4266L0.895438 10.0374C0.747906 9.88985 0.666656 9.69253 0.666656 9.48178C0.666656 9.27103 0.747906 9.07369 0.895469 8.92613L8.92616 0.895438C9.07372 0.747907 9.27106 0.666656 9.48181 0.666656C9.69256 0.666656 9.88991 0.747906 10.0375 0.895469L11.8407 2.69866L4.12825 10.4112C3.99809 10.5413 3.99809 10.7523 4.12825 10.8826C4.19335 10.9476 4.27866 10.9802 4.36394 10.9802C4.44922 10.9802 4.53453 10.9476 4.59963 10.8825L12.3121 3.17006L15.1039 5.96181C15.4103 6.26819 15.4102 6.76672 15.1039 7.0731Z')
    path(d='M8.21247 9.6269C8.08231 9.49675 7.87131 9.49678 7.74106 9.6269L5.11813 12.2498C4.98797 12.38 4.98797 12.591 5.11813 12.7212C5.18322 12.7863 5.26853 12.8188 5.35381 12.8188C5.43909 12.8188 5.52441 12.7863 5.5895 12.7212L8.21244 10.0983C8.34263 9.96809 8.34263 9.75706 8.21247 9.6269Z')
    path(d='M7.13629 12.1172L6.06051 13.193C5.93035 13.3231 5.93035 13.5342 6.06051 13.6644C6.1256 13.7294 6.21091 13.762 6.2962 13.762C6.38154 13.762 6.46679 13.7294 6.53188 13.6644L7.60766 12.5886C7.73782 12.4584 7.73782 12.2474 7.60766 12.1172C7.47751 11.987 7.26654 11.987 7.13629 12.1172Z')
    path(d='M8.12675 11.1269L7.98534 11.2683C7.85515 11.3984 7.85515 11.6095 7.98531 11.7397C8.05037 11.8048 8.13571 11.8373 8.221 11.8373C8.30628 11.8373 8.39159 11.8048 8.45665 11.7397L8.59806 11.5983C8.72825 11.4681 8.72825 11.2571 8.59809 11.1269C8.468 10.9968 8.2569 10.9967 8.12675 11.1269Z')
    path(d='M12.7205 5.11911C12.658 5.05661 12.5732 5.02148 12.4848 5.02148C12.3964 5.02148 12.3117 5.05661 12.2491 5.11911L10.8349 6.5333C10.7724 6.59583 10.7373 6.68058 10.7373 6.76898C10.7373 6.85739 10.7724 6.94217 10.8349 7.00467L11.7777 7.94739C11.8428 8.01249 11.9281 8.04502 12.0134 8.04502C12.0988 8.04502 12.184 8.01245 12.2491 7.94739L13.6633 6.53327C13.7934 6.40311 13.7934 6.19205 13.6633 6.06189L12.7205 5.11911ZM12.0134 7.24036L11.542 6.76898L12.4848 5.8262L12.9562 6.29761L12.0134 7.24036Z' )
    path(d='M10.0111 2.50732C10.0964 2.50732 10.1817 2.47476 10.2468 2.40963L10.3882 2.26816C10.5183 2.13798 10.5183 1.92691 10.3881 1.79679C10.2579 1.66666 10.0468 1.6667 9.91671 1.79688L9.7753 1.93835C9.64518 2.06854 9.64521 2.2796 9.7754 2.40973C9.84049 2.47482 9.92574 2.50732 10.0111 2.50732Z')
    path(d='M3.35035 11.1894L3.20895 11.3308C3.07879 11.461 3.07879 11.672 3.20895 11.8022C3.27404 11.8673 3.35935 11.8998 3.44463 11.8998C3.52991 11.8998 3.61523 11.8673 3.68032 11.8022L3.82173 11.6608C3.95188 11.5307 3.95188 11.3196 3.82173 11.1894C3.69154 11.0592 3.48054 11.0592 3.35035 11.1894Z')

mixin penSvg
  svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M11.2227 0.77673C10.1898 -0.25891 8.50992 -0.25891 7.47696 0.77673L0.609311 7.64264C0.555617 7.69634 0.522379 7.76538 0.512151 7.83954L0.00334149 11.6088C-0.0119995 11.7162 0.026353 11.8236 0.100501 11.8977C0.164422 11.9616 0.253911 12 0.3434 12C0.358741 12 0.374082 12 0.389423 11.9974L2.65989 11.6906C2.8491 11.665 2.98205 11.4911 2.95648 11.3019C2.93091 11.1127 2.75705 10.9797 2.56784 11.0053L0.74738 11.2508L1.10278 8.62202L3.86927 11.3888C3.93319 11.4528 4.02268 11.4911 4.11217 11.4911C4.20166 11.4911 4.29115 11.4553 4.35507 11.3888L11.2227 4.52293C11.7239 4.02174 12 3.35688 12 2.64855C12 1.94023 11.7239 1.27537 11.2227 0.77673ZM7.60992 1.62058L8.76305 2.77385L2.49625 9.04139L1.34312 7.88812L7.60992 1.62058ZM4.11473 10.6575L2.98716 9.52981L9.25396 3.26227L10.3815 4.38996L4.11473 10.6575ZM10.8622 3.89644L8.10339 1.13729C8.45367 0.84833 8.89089 0.689787 9.35112 0.689787C9.87527 0.689787 10.3662 0.894358 10.7369 1.26259C11.1077 1.63081 11.3097 2.12434 11.3097 2.64855C11.3097 3.1114 11.1511 3.54611 10.8622 3.89644Z')

mixin arrowSvg
  svg(width='11', height='8', fill="#fff" viewbox='0 0 11 8', xmlns='http://www.w3.org/2000/svg')
    path(d='M10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0 4.5H10V3.5H0V4.5Z' )

mixin phoneSvg
  svg(width='10' height='16' viewbox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M8.8373 0H1.1627C0.523313 0 0 0.485943 0 1.08069V14.9189C0 15.5136 0.523313 16 1.1627 16H8.8373C9.47669 16 10 15.5145 10 14.9193V1.08069C10 0.485943 9.47669 0 8.8373 0ZM3.77238 0.778971H6.22762C6.30533 0.778971 6.36829 0.837486 6.36829 0.910171C6.36829 0.9824 6.30533 1.04091 6.22762 1.04091H3.77238C3.69467 1.04091 3.63171 0.9824 3.63171 0.910171C3.63171 0.837486 3.69467 0.778971 3.77238 0.778971ZM5 15.4597C4.67883 15.4597 4.41865 15.2178 4.41865 14.9189C4.41865 14.6199 4.67883 14.3785 5 14.3785C5.32117 14.3785 5.58135 14.6199 5.58135 14.9189C5.58135 15.2178 5.32117 15.4597 5 15.4597ZM9.19093 14H0.809069V1.71383H9.19093V14Z')

mixin customBtn(text, className)
  .btn-callback.no-svg(class!=attributes.class)= className
    .text-section
      span= text
    .arrow-section
      +arrowSvg
mixin btnCallback(text, className)
  .btn-callback(class!=attributes.class href=href)= className
    .text-section
      +penSvg
      span= text
    .arrow-section
      +arrowSvg
mixin btnCallbackForm(text)
  .btn-callback
    .text-section
      +phoneSvg
      span= text
    .arrow-section
      +arrowSvg
mixin btnSimple(text, href, className )
  a(href=href)
    .btn-simple(class!=attributes.class)= className
      .text-section
        span= text
mixin btnPen(text)
  .button.btn-second.btn-simple.svg.pen
    .text-section
      +penSvg
      span= text
mixin btnCaset(text)
  .button.btn-first.btn-simple.svg.caset
    .text-section
      +casetSvg
      span= text
mixin defaultCheckbox(color='dark')
  label.service-checkbox-label
    input.align-self-center(
      type='checkbox'
      name='service'
    )
    span.checkmark(class=color)
mixin accordeon(header, description, items, expandedRequired, expandedIndex)
  .container
    h2.h2-title.text-center= header
    p.h4-title.text-center.d-none.d-md-block.letter-spacing-1.mb-5= description
    #accordion.accordion
      if expandedRequired
        each item, index in items
          if index === expandedIndex
            .card-header.active(data-toggle='collapse', data-target='#collapse' + index, aria-controls='collapse' + index, aria-expanded='true' id="header" + index)
              p.paragraph-text.text-w-bold.letter-spacing-15= item.title
              .card-arrow
          else
            .card-header(data-toggle='collapse', data-target='#collapse' + index, aria-controls='collapse' + index, aria-expanded='false' id="header" + index)
              p.paragraph-text.text-w-bold.letter-spacing-15= item.title
              .card-arrow
          if index === expandedIndex
            .collapse.show(aria-labelledby='heading' + index, data-parent='#accordion' id="collapse" + index)
              .card-body
                p.paragraph-text.text-w-light= item.body
          else
            .collapse(aria-labelledby='heading' + index, data-parent='#accordion' id="collapse" + index)
              .card-body
                p.paragraph-text.text-w-light= item.body
      else
        each item, index in items
          .card-header(data-toggle='collapse', data-target='#collapse' + index, aria-controls='collapse' + index, aria-expanded='false' id="header" + index)
            p.paragraph-text.text-w-bold.letter-spacing-15= item.title
            .card-arrow
          .collapse(aria-labelledby='heading' + index, data-parent='#accordion' id="collapse" + index)
            .card-body
              p.paragraph-text.text-w-light= item.body

// modal service list info
mixin modalServiceListInfo
  .c-content-count
    .d-flex.justify-content-between
      span.paragraph-text.text-color-dark.line-height Выбрано услуг
      span.paragraph-text.text-w-bold.text-color-dark.ml-2.countCheckedService
    .d-flex.justify-content-between
      span.paragraph-text.text-color-dark.line-height Общее время
      span.paragraph-text.text-w-bold.text-color-dark.ml-2.serviceListTime
    .d-flex.justify-content-between
      span.paragraph-text.text-color-dark.line-height Общая сумма
      span.paragraph-text.text-w-bold.text-color-dark.ml-2.serviceListSum


